CentauriReport.API/.vs/CentauriReport/config/applicationhost.config
CentauriReport.API/CentauriReport.API/obj/project.nuget.cache
CentauriReport.API/CentauriReport.API/obj/project.assets.json
CentauriReport.API/.vs/CentauriReport/config/applicationhost.config
CentauriReport.API/.vs/CentauriReport/DesignTimeBuild/
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.csproj.AssemblyReference.cache
CentauriReporti.API/CentauriReport.Shared/obj/Debug/net5.0/CentauriReport.Shared.csproj.AssemblyReference.cache
CentauriReporti.API/.vs/
CentauriReporti.API/CentauriReport.API/bin/
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.MvcApplicationPartsAssemblyInfo.cache
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.MvcApplicationPartsAssemblyInfo.cs
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.RazorTargetAssemblyInfo.cache
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.csproj.CopyComplete
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.csproj.CoreCompileInputs.cache
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.csproj.FileListAbsolute.txt
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.dll
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.genruntimeconfig.cache
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.pdb
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/apphost.exe
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/ref/
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/staticwebassets/
CentauriReporti.API/CentauriReport.API/obj/Debug/net5.0/CentauriReport.API.csproj.AssemblyReference.cache
CentauriReporti.API/CentauriReport.Shared/obj/Debug/net5.0/CentauriReport.Shared.csproj.AssemblyReference.cache
CentauriReporti.API/CentauriReport.Shared/obj/Debug/net5.0/CentauriReport.Shared.assets.cache
CentauriReporti.API/CentauriReport.Services/obj/Debug/
