CentauriReport.API/.vs/CentauriReport/config/applicationhost.config
CentauriReport.API/CentauriReport.API/obj/project.nuget.cache
CentauriReport.API/CentauriReport.API/obj/project.assets.json
CentauriReport.API/.vs/CentauriReport/config/applicationhost.config
CentauriReport.API/.vs/CentauriReport/DesignTimeBuild/
